html{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    background-color: oklch(35.467% 0.0101 73.515 / 0.346);
    
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    margin-top:0;
    text-align: center;
}

h1 > span {
    padding: 0.5rem;
    border-bottom: 2px solid red;

}

.privacy-message{
    background-color: rgba(197, 175, 180, 0.555);
    color: blue;
    margin: 0.1rem 0 1rem 0;
    font-family: monospace;
    font-size: 1.1rem;
    padding: 0.2rem;
    text-align: left;
    text-indent: 5%;
    border-radius: 3px;
    border: apx dotter rgba(0, 0, 0, 0.247);
}

.privacy-message span {
    font-weight: 700;
}

.btn {
    width: 8rem;
    padding: 0.25rem 1rem;
    font-size: larger;
    border-radius: 5px;
    border: 1px dotted brown;
    box-shadow: 3px -2px oklch(25.283% 0.04172 254.913 /0.5);
    margin-left: 5px;
}

.btn:hover{
    outline: 3px solid black;
}

button#view-last-20{
    width: 16rem;
    color: oklch(.852 .199 91.936);
    background-color: #1c398e;
}

button#view-last-20:hover{
        opacity: 0.7;
}

#records > li {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

#log-count {
    text-align: center;
    font-size: 1.5rem;
    background-color: oklch(97% 0.02 95);
}